dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  /* margin: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  outline: none;
  z-index: 99;
  padding: 0;
  &::backdrop {
    background-color: #00000033;
  }
}
dialog#dialog-contact-form > form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.25rem;
  width: 26.1rem;
  background-color: var(--grayscale_07);
  border-radius: 1.25rem;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    &::after {
      content: attr(data-after);
      margin-top: 0.625rem;
      color: var(--additional_02);

      font-family: "Outfit-Regular";
      font-size: 1rem;
      line-height: normal;
    }
  }
  & p {
    color: var(--grayscale_00);
  }
  & a {
    color: var(--primary_01);
  }
}

dialog.dialog-success-submit > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  gap: 1.25rem;
  width: 26.06rem;
  height: fit-content;
  border-radius: 1.25rem;
  background-color: var(--grayscale_07);

  & > p {
    color: var(--grayscale_02);
    text-align: center;
    margin-inline: -0.25rem;
    text-wrap: pretty;
    &:nth-of-type(1) {
      color: var(--primary_02);
    }
  }
  & button:last-child {
    width: 100%;
  }
}

@media (max-width: 640px) {
  dialog#dialog-contact-form > form {
    padding: 1.66rem 1.33rem;
    width: 100%;
    min-width: 335px;
    max-width: 400px;
    gap: 1.67rem;

    & > div {
      gap: 0.83rem;
      &::after {
        margin-top: 0.83rem;
        font-size: 1.33rem;
      }
    }
    & > button[type="submit"] {
      width: 100%;
    }
  }

  dialog.dialog-success-submit > div {
    width: auto;
    padding: 3.33rem;
    gap: 1.67rem;
    & > p {
      margin-inline: -1.67rem;
    }
  }
}

@media (max-width: 375px) {
  dialog {
    width: 100%;
  }

  dialog#dialog-contact-form > form {
    min-width: 0;
    width: 100%;
  }
}
