.cookies {
  position: fixed;
  bottom: 1.875rem;
  left: 5.625rem;
  right: 4.06rem;
  z-index: 98;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 1.875rem;
  padding-right: 3.75rem;
  gap: 8.75rem;
  border-radius: 1rem;
  background-color: var(--grayscale_07);
  transition: all 0.5s ease-in-out;
  & > p {
    color: #383838;
    text-wrap: pretty;
  }
  @starting-style {
    /*FireFox not availability*/
    bottom: -100%;
  }
}

.cookies__buttons {
  display: flex;
  gap: 1.25rem;
}

.visibilityHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

@media (max-width: 1279px) {
  .cookies {
    left: 2.8rem;
    right: 2rem;
  }
}

@media (max-width: 1024px) {
  .cookies {
    flex-direction: column;
    gap: 3.3rem;
    padding-right: 1.875rem;
  }

  .cookies__buttons {
    flex-direction: column;
    width: 100%;
    & > button {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .cookies {
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    & > p {
      text-wrap: balance;
    }
  }
}

@media (max-width: 640px) {
  .cookies {
    bottom: 1.67rem;
    left: 1.67em;
    right: 1.67rem;
    padding: 1.67rem;
  }
}
