@import "./uiKit.css";

/*FONTS*/
@font-face {
  font-family: "Outfit-Thin";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  src: url("../public/fonts/Outfit-Thin.woff2");
}
@font-face {
  font-family: "Outfit-ExtraLight";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  src: url("../public/fonts/Outfit-ExtraLight.woff2");
}
@font-face {
  font-family: "Outfit-Light";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/Outfit-Light.woff2");
}
@font-face {
  font-family: "Outfit-Regular";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Outfit-Regular.woff2");
}
@font-face {
  font-family: "Outfit-Medium";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Outfit-Medium.woff2");
}
@font-face {
  font-family: "Outfit-SemiBold";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/Outfit-SemiBold.woff2");
}
@font-face {
  font-family: "Outfit-Bold";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Outfit-Bold.woff2");
}
@font-face {
  font-family: "Outfit-ExtraBold";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  src: url("../public/fonts/Outfit-ExtraBold.woff2");
}
@font-face {
  font-family: "Outfit-Black";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  src: url("../public/fonts/Outfit-Black.woff2");
}

*,
html {
  margin: 0;
  box-sizing: border-box;
  color: var(--grayscale_07);
}
a {
  text-decoration: none;
}
body {
  margin: auto;
  /* background-color: var(--grayscale_01); */
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
  width: 100%;
  background-color: var(--grayscale_01);
}
main > section {
  width: 100%;
  max-width: 1440px;
  padding-inline: 3.75rem;
}

.main--slogan_block {
  position: relative;
  padding-left: 6.875rem;
}
.main--slogan_block--info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 5.125rem;
  margin-bottom: 8.75rem;
}
.main--slogan_block--info--textarea {
  display: grid;
  gap: 1.25rem;
  width: fit-content;
  & p:last-child {
    width: 33.4rem;
  }
}
.main--slogan_block--hero {
  position: absolute;
  width: 36.2rem;
  height: 33.07rem;
  bottom: 0;
  right: 0;
}
.main--slogan_block--hero--imgs {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: inherit;
  /* width: max-content; */
  & img {
    bottom: 0;
    left: 0;
    position: absolute;
    &:last-child {
      margin-left: 1.8rem;
    }
  }
}

.main--about {
  display: grid;
  gap: 5rem;
}
.main--about--body {
  position: relative;
  display: flex;
  gap: 7.375rem;
  & > p {
    position: relative;
    z-index: 0;
    width: 410px;
    height: fit-content;
    &::after {
      content: url("../public/img/about/shapes/text_shape.svg");
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: -0.3rem;
      line-height: 0;
    }
  }
  &::after {
    content: url("../public/img/about/shapes/background_shape.svg");
    position: absolute;
    left: -3.75rem;
    bottom: 0;
  }
}

.main--about--body--features {
  display: grid;
  gap: 4.375rem;
  grid-template-columns: 1fr 1fr;
  max-width: 45.45rem;
}

.main--about--body--features--item {
  display: grid;
  gap: 0.625rem;
  min-width: 336px;
  & img {
    width: 6.25rem;
    height: 6.25rem;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-wrap: pretty;
  }
}

.main--works {
  position: relative;
  width: 100%;
  max-width: none;
  padding-inline: 0;
  & img {
    z-index: 3;
    position: absolute;
    height: 38.94rem;
    top: calc(50% - 19.47rem);
    left: calc(50% - (19.25rem / 2));
    margin-inline: auto;
  }
}
.main--works--text {
  margin: 2.875rem 0;
  overflow: hidden;
  text-wrap: nowrap;
  & > ul {
    display: grid;
    gap: 4.25rem;
    list-style-type: none;
  }
  & ul > li {
    position: relative;
    display: flex;
    animation: text-slide 10s linear infinite 0s reverse;
    &:nth-child(1) > p {
      color: var(--secondary_01);
    }
    &:nth-child(2) {
      animation-direction: normal;
      animation-delay: -6s; /*чтобы все <li/> выезжали в центр в одно время*/
      & p {
        color: var(--primary_02);
      }
    }
    &:nth-child(3) > p {
      color: var(--secondary_02);
    }
  }
  & ul > li > p::after,
  ul > li > p::before {
    margin-inline: 1.25rem;
    content: "HOW BUDSS WORK";
    color: transparent;
    -webkit-text-stroke: 1px var(--grayscale_02);
  }
}

@keyframes text-slide {
  from {
    left: 0px;
  }
  to {
    left: -50%;
  }
}

.main__metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: none;
  background-color: var(--primary_02);
}
.main__metrics-item {
  display: grid;
  gap: 1rem;
  & > p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 20px;
}

/*Delete text selection*/
.unselectable,
button {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
