@import "./uiKit.css";

*,
html {
  margin: 0;
  box-sizing: border-box;
  color: var(--grayscale_07);
}
a {
  text-decoration: none;
}
body {
  margin: auto;
  overflow: hidden;
  overflow-y: auto;

  /* background-color: var(--grayscale_01); */
}

.page-nav {
  background-color: var(--secondary_02);
  width: 100vw;
  & > div {
    display: flex;
    width: 100%;
    margin-inline: auto;
    padding-inline: 3.75rem;
    max-width: 1440px;
    & a {
      display: flex;
      padding: 0.56rem 2.5rem;
      border: none;
      border-radius: 1.25rem 1.25rem 0 0;
      color: var(--grayscale_00);
      text-decoration: none;
    }
  }
}
.page-nav__page--selected {
  background-color: var(--grayscale_01);
  color: var(--grayscale_07) !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4.44rem;
  background-color: var(--grayscale_01);
}
.header_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding-inline: 3.75rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
  width: 100vw;
  background-color: var(--grayscale_01);
}
main > section {
  width: 100%;
  max-width: 1440px;
  padding-inline: 3.75rem;
}

.main__slogan-block {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 6.875rem;
  padding-bottom: 8.75rem;
}
.slogan-block__info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 5.125rem;
}
.slogan-block__textarea {
  display: grid;
  gap: 1.25rem;
  width: fit-content;
  & p:last-child {
    width: 33.4rem;
  }
}
.slogan-block__hero {
  position: absolute;
  /* width: 36.2rem; */
  width: clamp(17.2rem, 41.3vw, 37.2rem);

  height: 33.07rem;
  bottom: 0;
  right: 0;
  & > div {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: inherit;
    & img {
      height: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      &:first-child {
        height: 94.4%;
      }
      &:last-child {
        margin-left: 1.8rem;
      }
    }
  }
}

.main__about {
  display: grid;
  gap: 5rem;
}
.about__body {
  position: relative;
  display: flex;
  gap: 7.375rem;
  & > p {
    width: 410px;
    height: fit-content;
    & span:last-child {
      position: relative;
      z-index: 0;
    }
    & span:last-child::after {
      content: url("../public/img/about/shapes/text_shape.svg");
      position: absolute;
      z-index: -1;
      right: -0.81rem;
      /* left: 0; */
      bottom: -0.25rem;
      line-height: 0;
    }
  }
  &::after {
    content: url("../public/img/about/shapes/background_shape.svg");
    position: absolute;
    left: -3.75rem;
    width: clamp(200px, 30vw, 423px);
    bottom: 0;
  }
}

.about__features {
  display: grid;
  gap: 4.375rem;
  /* grid-template-columns: 336px; */
  grid-template-columns: repeat(2, 336px);
  max-width: 45.45rem;
  & > div {
    display: grid;
    gap: 0.625rem;
    min-width: 100%;
    & img {
      width: 6.25rem;
      height: 6.25rem;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      text-wrap: pretty;
    }
  }
}

.main__works {
  position: relative;
  width: 100%;
  max-width: none;
  padding-inline: 0;
  & img {
    z-index: 3;
    position: absolute;
    height: 38.94rem;
    top: calc(50% - 19.47rem);
    left: calc(50% - (19.25rem / 2));
    margin-inline: auto;
  }
}
.works__text {
  margin: 2.875rem 0;
  overflow: hidden;
  text-wrap: nowrap;
  & > ul {
    display: grid;
    gap: 4.25rem;
    list-style-type: none;
  }
  & ul > li {
    position: relative;
    display: flex;
    animation: text-slide 10s linear infinite 0s reverse;
    &:nth-child(1) > p {
      color: var(--secondary_01);
    }
    &:nth-child(2) {
      animation-direction: normal;
      animation-delay: -6s; /*чтобы все <li/> выезжали в центр в одно время*/
      & p {
        color: var(--primary_02);
      }
    }
    &:nth-child(3) > p {
      color: var(--secondary_02);
    }
  }
  & ul > li > p::after,
  ul > li > p::before {
    margin-inline: 1.25rem;
    content: "HOW BUDSS WORK";
    color: transparent;
    -webkit-text-stroke: 1px var(--grayscale_02);
  }
}

@keyframes text-slide {
  from {
    left: 0px;
  }
  to {
    left: -50%;
  }
}

.main__metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: none;
  background-color: var(--primary_02);
}
.metrics__item {
  display: grid;
  gap: 1rem;
  & > p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.main__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.375rem;
  padding-inline: 4.375rem;
}

.features__textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  width: 41.5rem;
  text-align: center;
  & p > span {
    position: relative;
    z-index: 1;
  }
  & p > span:last-child:after {
    content: url("../public/img/features/shapes/text_shape.svg");
    position: absolute;
    z-index: -1;
    line-height: 0;
    bottom: -0.25rem;
    left: 0;
  }
}

.features__blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
  & .main__features__blocks__items {
    background-color: var(--grayscale_06);
    height: 250px;
  }
}
.features__row {
  display: flex;
  height: fit-content;
  gap: 1.25rem;
}
.features__item {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 22.625rem;
  background-color: var(--grayscale_06);
  border-radius: 1.875rem;
  padding: 2.5rem;
  & p,
  h3 {
    color: var(--grayscale_00);
  }
  &::after {
    position: absolute;
    bottom: -0.25rem; /*Мне кажется костыль
    Но я хз как иначе*/
  }
}

/*Задаю две вариации, иначе при одной gap почему-то
 ломает размеры заданного флекса*/
.features__item--long {
  width: 733px;
}
.features__item--short {
  width: 547px;
}

.features__row:first-child {
  & > .features__item:nth-child(1) {
    justify-content: end;
    & > div {
      max-width: 22.75rem;
      & p {
        max-width: 20.9rem;
      }
    }
    &::after {
      content: url(../public/img/features/cards-img/Phone.svg);
      left: 0;
    }
  }

  & > .features__item:nth-child(2) {
    & div {
      max-width: 26rem;
    }
    &::after {
      content: url(../public/img/features/cards-img/Bags.svg);
      right: 0;
    }
  }
}

.features__row:last-child {
  & > .features__item:nth-child(1) {
    & div {
      max-width: 27.5rem;
      & p {
        max-width: 19.25rem;
      }
    }
    &::after {
      content: url(/public/img/features/cards-img/Like.svg);
      right: 0;
    }
  }

  & > .features__item:nth-child(2) {
    & div {
      max-width: 25.2rem;
    }
    &::after {
      content: url(/public/img/features/cards-img/WithPhone.svg);
      right: 2.7rem;
    }
  }
}

.main__brand-awarness {
  display: flex;
  justify-content: center;
  padding: 6.25rem 0;
  max-width: none;
  width: 100%;
  background-color: var(--grayscale_07);
  & h2,
  h3,
  p {
    color: var(--grayscale_00);
  }
  & > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    gap: 6.25rem;
    & > div:first-child {
      padding-inline: 3.75rem;
    }
  }
}
.brand-awarness__contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
  padding: 3.75rem 1.25rem;
  border: 1px solid var(--grayscale_04);
  border-radius: 3.75rem;

  text-align: center;
}

.brand-awarness__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 2.8rem 0 3.75rem;
}
.socials__textarea {
  width: 100%;
  max-width: 52.9rem;
  & p {
    max-width: 33.57rem;
  }
}

.socials__icons {
  display: grid;
  grid-template-columns: repeat(2, clamp(12rem, 15vw, 13.75rem));
  grid-template-rows: max-content max-content;
  column-gap: 2.5rem;
  row-gap: 0.125rem;
  & > :nth-child(3),
  > :nth-child(4) {
    justify-self: end;
  }
}

.brand-awarness__associates {
  display: flex;
  justify-content: center;
  padding-inline: 3.75rem;
  & > ul {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
    flex-wrap: nowrap;
    gap: 1.875rem 5.63rem;
    height: max-content;
    list-style: none;
  }
}

footer {
  width: 100vw;
  background-color: var(--grayscale_01);
  & > div {
    max-width: 1440px;
    margin-inline: auto;
    padding: 2.5rem 3.75rem 1.25rem 3.75rem;
    & hr {
      margin-top: 1.875rem;
      margin-bottom: 1.75rem;
      border: 2px solid var(--grayscale_02);
    }
  }
}

.footer__footer-nav {
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.footer-nav__pages {
  display: flex;
  gap: 2.5rem;
}
.footer-nav__buttons {
  display: flex;
  gap: 2.5rem;
  & > div {
    display: flex;
    gap: 1.25rem;
  }
}

.footer-nav__legal,
.footer-nav__legal a {
  color: var(--grayscale_03);
  text-decoration-color: var(--grayscale_03);
  & > div {
    display: flex;
    gap: 1.25rem;
  }
}

/* .form {
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 20px;
} */

/*Delete text selection*/
.unselectable,
button {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 1439px) {
  .slogan-block__hero {
    align-self: normal;
    overflow: hidden;
    & > div {
      display: flex;
      /* width: 100%; */
      width: calc(100% + 3.75rem);
      min-width: 32.5rem;
      max-width: 38.2rem;
      & > img {
        height: auto;
      }
      & > img:first-child {
        /* height: 94.4%; */
        /* width: 80%; */
        /* bottom: 0; */
        min-width: 330px;
      }
      & > img:last-child {
        width: 80.87%;
        /* height: auto; */
        /* min-width: 232.27px; */
      }
    }
  }

  .about__body {
    flex-direction: column;
    &::after {
      content: "";
    }
  }
  .brand-awarness__associates {
    & > ul {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1279px) {
  .brand-awarness__socials {
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
  }

  .socials__textarea {
    width: 100%;
  }

  .features__row {
    flex-direction: column;
  }
  .features__item {
    width: 100%;
  }

  .footer__footer-nav {
    & > div {
      flex-wrap: wrap;
      row-gap: 1.25rem;
    }
    & .logo__img {
      flex-wrap: nowrap;
    }
    & div {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1024px) {
  .main__slogan-block {
    flex-direction: column;
    gap: 6.25rem;
    padding-bottom: 0;
  }
  .slogan-block__hero {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .about__features {
    grid-template-columns: 1fr;
    & > div {
      min-width: 336px;
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  main {
    gap: 4.3rem;
  }
  .main > section {
    padding-inline: 1.33rem;
  }
  .main__slogan-block {
    padding-inline: 1.33rem;
    padding-bottom: 0;
  }
  .slogan-block__info {
    margin-top: 4.25rem;
  }
  .slogan-block__hero {
    width: calc(100% + 1.33rem);
  }
  .main__about {
    padding-inline: 1.3rem;
  }
  .features__item {
  } /*тут кароче эта хуйня да*/

  .footer__footer-nav {
    & > div {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 2.5rem;
    }
  }
}

@media (max-width: 640px) {
  .slogan-block__hero {
    width: calc(100% + 1.33rem);
    overflow: hidden;
    & > div {
      display: flex;
      & > img {
        height: auto;
      }
      & > img:first-child {
        width: 80%;
        min-width: 369px;
        height: auto;
      }
      & > img:last-child {
        /* width: 80.87%; */
        width: 62%;
        min-width: 232.3px;
        /* height: auto; */
        /* max-width: 232.27px; */
      }
    }
  }

  .main__metrics {
    flex-direction: column;
    align-items: start;
  }
  .metrics__item {
    display: flex;
    & > p {
      flex-direction: row;
      align-items: center;
    }
  }

  .features__item {
    padding: 1.66rem;
  }
}
